.c-Loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  i {
    --color: #0f173e;
    --size: 32px;

    box-sizing: border-box;
    display: block;
    position: absolute;
    width: var(--size);
    height: var(--size);
    margin: calc(var(--size) * 0.125);
    border: calc(var(--size) * 0.125) solid var(--color);
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--color) transparent transparent transparent;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
